name: Upload Python Package

on:
  release:
    types: [published]

run-name: Publish to PyPI release ${{ github.event.release.tag_name }}

permissions:
  contents: read

jobs:
  build-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Build release distributions
        run: |
          python -m pip install build
          python -m build

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  publish-on-testpypi:
    runs-on: ubuntu-latest
    needs: [build-package]
    permissions:
      id-token: write
    environment:
      name: testpypi
      url: https://test.pypi.org/project/superjwt/
    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v5
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

  publish-on-pypi:
    runs-on: ubuntu-latest
    needs: [build-package, publish-on-testpypi]
    permissions:
      id-token: write
    environment:
      name: pypi
      url: https://pypi.org/project/superjwt/
    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v5
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://pypi.org/legacy/
